
@{
    ViewBag.Title = "Hakkımda";
}
    <div class="inner_content text-center">

        <div class="about_author">
            <img src="https://bt.evrimsevinc.com/upload/profile.jpg" alt="image">
            <div class="author_info">
                <h3>Evrim Sevinç</h3>
            </div>
        </div>
        <p>
            Merhabalar,
            <br />
            Ben Evrim Sevinç

            Yıldız Teknik Üniversitesi Matematik Mühendisliği 2017 mezunuyum. 2019 yılı itibari ile Yıldız Teknik Üniversitesi’nde Bilgisayar Mühendisliği fakültesinde Bilgi Teknolojileri Yüksek Lisans eğitimi öğrencisi olarak okul hayatıma devam etmekteyim.
            <br />
            Mevcutta incelediğiniz web sitesi, Web Programlama dersim için oluşturulmuştur.

            <br />

            Teşekkürler...
        </p>

    </div>